<article class="post__container">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="post__title">
          {{ page.title }}
        </h1>
        <p class="post__meta">
          <span class="post__date"> Opublikowano {{ page.date | date: "%B %d, %Y"}}</span>
        </p>
        <div class="post__content">
          {{ content }}
          <div class="pagination">
            <a href="/blog">Wróć do bloga</a>
          </div>
        </div>
        
      </div>
  
    </div>
    </div>
</article>