<div class="nav navigation">
  <ul class="social-link__list">
    <li class="social-link__element">
      <a href="https://www.linkedin.com/in/arkadiusz-mierzwa-02106a114?trk=hp-identity-name" class="social-link__link">
        <img width="25" height="25" src="{{ " /static/linkedin.svg " | prepend: site.baseurl }}" alt="">
      </a>
    </li>
    <li class="social-link__element">
      <a href="https://github.com/svantetic" class="social-link__link">
        <img width="25" height="25" src="{{ " /static/github.svg " | prepend: site.baseurl }}" alt="">
      </a>
    </li>
    <li class="social-link__element">
      <a href="http://codepen.io/svantetic/" class="social-link__link">
        <img width="25" height="25" src="{{ " /static/codepen.svg " | prepend: site.baseurl }}" alt="">
      </a>
    </li>
    <li class="social-link__element">
      <a href="http://soundcloud.com/belothar" class="social-link__link">
        <img width="25" height="25" src="{{ " /static/soundcloud.svg " | prepend: site.baseurl }}" alt="">
      </a>
    </li>
  </ul>
  <ul class="navigation__list">
    <li class="navigation__element navbar-item">
      <a href="/" class="navigation__link">Portfolio</a>
    </li>
  </ul>
  {% endif %}

  <button class="button navbar-burger">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>