<div class="nav navigation">
    <ul class="social-link__list">
        <li class="social-link__element">
          <a href="https://www.linkedin.com/in/arkadiusz-mierzwa-02106a114?trk=hp-identity-name" class="social-link__link">
            <img width="25" height="25" src="static/linkedin.svg" alt="">
          </a>
        </li>
        <li class="social-link__element">
          <a href="https://github.com/svantetic" class="social-link__link">
            <img width="25" height="25" src="static/github.svg" alt="">
          </a>
        </li>
        <li class="social-link__element">
          <a href="http://codepen.io/svantetic/" class="social-link__link">
            <img width="25" height="25" src="static/codepen.svg" alt="">
          </a>
        </li>
        <li class="social-link__element">
          <a href="http://soundcloud.com/belothar" class="social-link__link">
            <img width="25" height="25" src="static/soundcloud.svg" alt="">
          </a>
        </li>
    </ul>
    <ul class="navigation__list">
        <li class="navigation__element navbar-item">
          <a href="#about-me" class="navigation__link">About Me</a>
        </li>
        <li class="navigation__element navbar-item">
          <a href="#skills" class="navigation__link">Skills</a>
        </li>
        <li class="navigation__element navbar-item">
          <a href="#projects" class="navigation__link">Projects</a>
        </li>
        <li class="navigation__element navbar-item">
          <a href="#contact" class="navigation__link">Contact</a>
        </li>
        <!-- <li class="navigation__element navbar-item">
          <a href="#blog" class="navigation__link">Blog</a>
        </li> -->
    </ul>
    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
</div>
