<div class="section section--skills" id="skills">
  <div class="container">

    <h2 class="section__heading">
      Skills
    </h2>
    <div class="columns is-multiline">
      {% for skill in site.data.skills.skills %}

      <div class="column is-4">
        <div class="skill">
          <h3 class="skill__category">
            {{ skill.category }}
          </h3>
          <ul class="skill__list">
            {% for skill in skill.names %}
            <li class="skill__element">
              <p class="skill__name {% if skill.commercial == true %} skill__name--commercial {% endif %} ">
                {{ skill.name }}
              </p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
      <div class="column">
        <p class="skill__disclaimer">commercial experience marked with
            <strong>bold</strong> font</p>
      </div>
    </div>
  </div>
</div>