.post {
  &__container {
    margin-top: 100px;
  }
  &__content {
    padding-bottom: 100px;
    ul, ol {
      padding-left: 20px;
      margin-bottom: 30px;
    }
    ul {
      list-style: square;
    }
    li {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 35px;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }


  &__title {
    font-size: 2rem;
  }
  &__link {
    word-break: normal;
  }
}
.blog-listing, .post__container {
  margin-top: 100px;
  .container {
    @media screen and (min-width: $tablet) {
      padding: 0 200px;
    }
  }
}
.header--blog {
  height: 400px;
}