.social-link__list {
  display: flex;
}

.social-link__element {
  margin-right: 15px;
}

.navigation {
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 5px 0px 15px rgba(black, .12);
  @media screen and (min-width: $tablet) {
    padding: 15px 75px;
  }

  &__element {
    margin: 40px 0;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &__list {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(white, .9);
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    right: 0;
    bottom: 0;
    color: rgba(black, .9);
    font-size: 1.4rem;
  
    &--active {
      display: flex;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      position: static;
    }

  }
      &__link {
        color: $main-color;
      }
}

.navbar-burger {
  border: none;
  height: 2.25rem;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
