.section__heading {
  text-align: center;
  margin: 50px 0;
  position: relative;
  &:after {
    height: 5px;
    width: 30px;
    display: block;
    margin: 0 auto;
    top: 13px;
    position: relative;
    content: '';
    background: $main-color;
  }
}

.section--contact {
  text-align: center;
}

.contact__text {
  margin-bottom: 10px;
  margin-top: 75px;
}