.skill {
  text-align: center;
  &__name {
    margin: 0;
    &--commercial {
      font-weight: 400;
    }
  }
  &__category {
    margin-bottom: 30px;
    color: white;
  }

  &__list {
    margin-bottom: 50px;
  }

  &__disclaimer {
    padding: 0 15px;
    color: #eee;
    font-size: .8rem;
    text-align: center;
  }
}

.section {
  &--skills {
    color: white;    
    @include gradient(45deg);
    .section__heading {
      color: white;
      &:after {
        background-color: white;
      }
    }
  }
}