.skill {
  text-align: center;
  &__name {
    margin: 0;
  }
  &__category {
    margin-bottom: 30px;
    color: white;
  }

  &__list {
    margin-bottom: 50px;
  }
}

.section {
  &--skills {
    color: white;    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b42bf+1,b66ecc+86 */
    background: #5b42bf; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #5b42bf 1%, #b66ecc 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #5b42bf 1%,#b66ecc 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #5b42bf 1%,#b66ecc 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b42bf', endColorstr='#b66ecc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .section__heading {
      color: white;
      &:after {
        background-color: white;
      }
    }
  }
}